
[gcode_macro M191]
gcode:  
    {% set chamber_target = params.S|default(0)|float %}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={chamber_target}

[gcode_macro M141]
gcode:  
    {% set chamber_target = params.S|default(0)|float %}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={chamber_target}

[multi_pin ptc_fan]
pins: PB0, PB1


[heater_generic chamber_heater]
gcode_id: chamber_heater
heater_pin: multi_pin:ptc_fan
smooth_time: 10
sensor_type: Generic 3950
sensor_pin: PC1
control: pid
pid_kp: 24.750
pid_ki: 2.578
pid_kd: 59.400
pwm_cycle_time: 0.25
min_temp: -10
max_temp: 65
max_power: 1.0

# [heater_fan chamber_fan]
# pin:PB0
# max_power: 1.0
# kick_start_time: 0.5
# heater: chamber_heater
# heater_temp: 42
# fan_speed: 1.0


# [fan_generic chamber_fan]
# pin: multi_pin:ptc_fan
# max_power: 1.0
# kick_start_time: 0.5
# off_below: 0.10

# [temperature_sensor chamber_temp]
# sensor_type: Generic 3950
# sensor_pin: PC1
# min_temp:-60
# max_temp:110
#gcode_id:


[verify_heater chamber_heater]
max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time:10
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 10
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 0.03
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

